<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between p-3">
                            <div>
                                <h4 class="card-title pt-2">All Courses</h4>
                                <p class="card-description">

                                </p>
                            </div>
                            {{!-- <a href="/admin/add-course" class="btn btn-primary btn-icon-text">
                                <i class="ti-plus btn-icon-prepend"></i>
                                Add
                            </a> --}}
                        </div>


                        <div class="row d-flex justify-content-center">

                            {{#each coursesList}}
                            {{#each this.course_details}}

                            <a class="lecture" href="/user/lectures/all_videos?id={{this._id}}">
                                <div class="card lecture-card m-5 bg-light" style="width: 18rem;">
                                    <img class="card-img-top" src="/uploads/course-thumbnail/{{this._id}}.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.Title}}</h5>
                                        
                                    </div>


                                </div>
                            </a>
                            {{/each}}
                            {{/each}}






                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>