<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <div class="d-flex justify-content-center">
                            <h4 class="card-title">Add Lecture</h4>
                        </div>

                        {{!-- <p class="card-description">
                            Basic form elements
                        </p> --}}

                        <br>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="cstitle">Username</label>
                                <input value="{{user.Username}}" name="Username" type="text" class="form-control" id="no"
                                    placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="cstitle">Email</label>
                                <input value="{{user.Email}}" name="Email" type="email" class="form-control" id="title"
                                    placeholder="Email">
                            </div>

                            <div class="form-group">
                                <label for="cstitle">Phone</label>
                                <input value="{{user.Phone}}" name="Phone" type="tel" class="form-control" id="title"
                                    placeholder="Phone">
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="button" onclick="uploadVideo()"
                                    class="btn btn-primary mr-2">Submit</button>
                                <button class="btn btn-light">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>